.video {
  height: 250px;
}

.blue {
  height: 50%;
}

.blue a {
  background-color: #f8a255;
  color: #fff;
  padding: 0.5em 2em;
  border-radius: 35px;
  margin: 6em auto;
  display: block;
  text-align: center;
  width: calc(80% - 80px);
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.logo-wrapper {
  padding: 1em;
  margin-top: 3em;
}

.logo-wrapper img {
  width: 70%;
  margin: auto;
  display: block;
}

.wrapper {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  background-image: url('../img/background.png');
  background-size: 200% auto;
  background-repeat: no-repeat;
  background-position: 100% 25%;
}

.arrow {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  width: 4em;
  top: 52%;
  height: 4em;
  left: 45%;
}

.downArrow {
  border: solid #f8a255;
  border-width: 0 5px 5px 0;
  display: inline-block;
  margin: 19px;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  text-align: center;
}

@media only screen and (max-width: 320px) {
  .arrow {
    left: 40%;
  }
  .blue a {
    width: calc(90% - 80px);
  }
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .logo-wrapper img {
    width: 50%;
  }

  .logo-wrapper {
    margin-top: 0.5em;
  }

  .wrapper {
    background-position: 100% 25%;
    background-size: 100% auto;
  }

  .arrow {
    top: 50%
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .logo-wrapper {
    margin-top: 1em;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) { /
  .video {
    height: 350px;
  }

  .arrow {
    top: 483px;
  }
}

@media only screen and (min-width: 1024px) {
  .logo-wrapper img {
    width: 30%;
  }

  .arrow {
    left: 49%;
    top: 52%;
  }

  .blue a {
    width: calc(40% - 80px);
  }

  .wrapper {
    background-position: 100% 45%;
    background-size: 100% auto;
  }

  .video {
    height: 230px;
  }

  .logo-wrapper {
    margin-top: 0.5em;
  }
}
